.login {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
  }

  .password {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
  }

  .button {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
  }

  
